In [1]:
import pandas as pd
import numpy as np
import datetime
df_transactions = pd.read_csv('transactions.csv')

In [2]:
###################update date format###################
date_format = '%Y-%m-%d'

df_transactions['Date'] = pd.to_datetime(df_transactions['Date'],format=date_format)
 #check max txn date
max_date = df_transactions['Date'].max()
d = datetime.timedelta(1)
today = max_date + d

#df_transactions['Member ID'] = df_transactions['Member ID'].astype(str)
#df_transactions['Trans ID'] = df_transactions['Trans ID'].astype(str)

###################data preview###################
# df_transactions.head()

In [3]:
#print(df_transactions.describe())  #-ve field: Sold Qty, Amount
#print(df_transactions.info())
#print(df_transactions.shape)  #(2759843, 16)

In [4]:
#drop duplicate (2622316, 16)
df_transactions.drop_duplicates(keep='first', inplace=True)

In [5]:
#replace member id with trans id if null

df_transactions['Member ID'] = np.where(df_transactions['Member ID'].isnull(),df_transactions['Trans ID'],df_transactions['Member ID'])

In [6]:
df_transactions['Member ID'] = df_transactions['Member ID'].astype('int64')

In [7]:
#select +ve price only
df_pos = df_transactions[(df_transactions['Sold Qty'] > 0) & (df_transactions['Amount'] > 0)]
print(df_pos.shape) #(2077101, 16)
print(df_pos.isnull().sum())  #783 is null for Subcat

(2077101, 16)
Store ID                 0
Store Type               0
Trans ID                 0
Date                     0
Time                     0
Member ID                0
Member Grade       1765936
Gender             1777619
Member Birthday    1806638
Prod Name (Chi)          0
Dept                     0
Cat                      0
Subcat                 783
Sold Qty                 0
MOP                      0
Amount                   0
dtype: int64

In [8]:
#a = df_pos[df_pos['Subcat'].isnull()]
#a['Prod Name (Chi)'].unique()

df_pos.loc[(df_pos['Prod Name (Chi)'] == 'Ã§ÂÂÃ©ÂÂÃ¥Â°ÂÃ¦Â¥Â­Ã©Â¦ÂÃ¥ÂÂ£Ã§ÂÂ 8Ã§Â²ÂÃ¨Â£Â')&(df_pos['Subcat'].isnull()), 'Subcat']= 'Gum'

C:\Users\Ajit Krishna\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [9]:
df_pos.head()

,Store ID,Store Type,Trans ID,Date,Time,Member ID,Member Grade,Gender,Member Birthday,Prod Name (Chi),Dept,Cat,Subcat,Sold Qty,MOP,Amount
0,27,HSR - HIGH STREET RESIDENTIAL,8151518418,2018-04-01,06:06:47,8151518418,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
3,27,HSR - HIGH STREET RESIDENTIAL,8151518417,2018-04-01,06:07:29,8151518417,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0
6,27,HSR - HIGH STREET RESIDENTIAL,8151518416,2018-04-01,06:07:48,8151518416,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,Octopus,8.0
7,27,HSR - HIGH STREET RESIDENTIAL,8151518416,2018-04-01,06:07:55,8151518416,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,Octopus,8.0
10,27,HSR - HIGH STREET RESIDENTIAL,8151518415,2018-04-01,06:09:38,8151518415,NaN,NaN,NaN,東方日報每份,Publications,Newspaper,Newspaper (General),1,現金,8.0

In [10]:
df_pos.to_csv('df_transactions_clean.csv',index=False, encoding='utf-8')